.section__title {
  font-family: Rubik;
  margin-bottom: 40px;
  margin-top: 150px;
  font-weight: bold !important;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* column-gap: 10px; */
  font-family: Rubik;
  font-weight: lighter;
  
}

.image--card-react {
  width: 100px;
  height: auto;
}

.image--card-mongodb {
  width: 100px;
  height: auto;
}

.image--card-express {
  width: 200px;
  height: 100px;
}

.image--card-js {
  width: 85px;
  height: 100px;
}

.image--card-node {
  width: 200px;
  height: 100px;
  transform: scale(0.8);
}

.image--card-html{
  width: 95px;
  height: 100px;
}

.image--card-css{
  width: 100px;
  height: 100px;
}

.card-primary {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-second {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}
.card-third {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-forth {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-fifth {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-sixth {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-seventh {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: black;
  font-size: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0 10px 10px black);
}

.card-primary:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;
}
.card-second:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}
.card-third:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}
.card-forth:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}
.card-fifth:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}
.card-sixth:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}
.card-seventh:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;

}

/* FONTS */
@font-face {
  font-family: 'Rubik';
  src: url('../../../public/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  .card {
    width: 100vw;
    overflow-x: scroll;
    column-gap: 5px;
    display: flex;
    justify-content: flex-start;
  }
  
  .card-title {
    display: none;
  }

  .card-primary {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-second {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-third {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-forth {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-fifth {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-sixth {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .card-seventh {
    width: 100rem;
    height: 20vw;
    display: flex;
    align-items: center;
  }

  .image--card-html {
    width: 100px;
    height: 60px;
  }

  .image--card-css {
    width: 100px;
    height: 60px;
  }

  .image--card-js {
    width: 55px;
    height: 60px;
  }

  .image--card-node {
    width: 100px;
    transform: scale(0.8);
    height: 60px;
  }

  .image--card-react {
    width: 60px;
    height: 60px;
  }

  .image--card-express {
    width: 100px;
    height: 60px;
  }
  
  .image--card-mongodb {
    width: 60px;
    height: 60px;
  }
}